@{
    ViewBag.Title = "Contact";
}
<h3>If you have any questions about the functionality of this website please contact us.
    We would love to hear feedback</h3>
<address>
    7614 87th sw <br />
    98498 Lakewood WA
</address>
<phone>
    Phone: (253) 123-4567
</phone>